.about-author__photo {
  align-self: center;

  max-width: 464px;
  width: 464px;
  overflow: hidden;

  border-radius: 464px;
}

@media screen and (max-width: 1024px) {
  .about-author__photo {
    align-self: flex-start;
    margin-top: 17px;

    height: 232px;
    width: 232px;
    min-width: 232px;
  }
}
