.lead {
  padding-bottom: 80px;

  background: url('../../images/search-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding-bottom: 48px;
  }
}
