@import url('./_size/preloader__image_size_normal.css');
@import url('./_size/preloader__image_size_small.css');


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__image {
  margin: 0px auto;

  border-color: #444;
  border-bottom-color: #888;
  border-style: solid;
  border-radius: 50%;

  animation: spin .75s infinite linear;
}
