.search-results__title {
  margin: 80px 0px 0px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-results__title {
    margin-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .search-results__title {
    margin-top: 32px;
  }
}
