.root {
  margin: 0px auto;

  max-width: 1440px;
  min-width: 320px;

  font-family: Roboto, Arial, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}
