@import url('./_is-hidden/search-results__load-button_is-hidden.css');

.search-results__load-button {
  margin: 64px auto 0px;

  min-width: 288px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search-results__load-button {
    margin-top: 32px;

    min-width: 240px;
  }
}

@media screen and (max-width: 767px) {
  .search-results__load-button {
    margin-top: 16px;
  }
}
