.search-results__load-button {
  margin: 64px auto 0px;

  min-width: 288px;
}

@media screen and (max-width: 1024px) {
  .search-results__load-button {
    margin-top: 32px;

    min-width: 240px;
  }
}
