@import url('./__bookmark-button/card__bookmark-button.css');
@import url('./__button/card__button.css');
@import url('./__date/card__date.css');
@import url('./__delete-button/card__delete-button.css');
@import url('./__keyword/card__keyword.css');
@import url('./__link/card__link.css');
@import url('./__image/card__image.css');
@import url('./__tooltip/card__tooltip.css');
@import url('./__source/card__source.css');
@import url('./__text/card__text.css');
@import url('./__text-wrapper/card__text-wrapper.css');
@import url('./__title/card__title.css');

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  background-color: white;
  border-radius: 16px;
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0px 24px 58px -24px rgba(8, 29, 45, 0.15);
}
