.button_theme_transparent-white {
  min-height: 48px;

  padding: 0px 18px;

  background-color: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
}

.button_theme_transparent-white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .button_theme_transparent-white {
    min-height: 40px;
    padding: 0px 14px 3px;
  }
}

@media screen and (max-width: 767px) {
  .button_theme_transparent-white {
    min-height: 56px;
  }
}
