.button_theme_blue {
  min-height: 64px;

  background-color: #2F71E5;
  border: none;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: white;
}

.button_theme_blue:active {
  background-color: #2A65CC;
}

.button_theme_blue:not(:active):hover {
  background-color: #347EFF;
}
