.button_theme_white {
  min-height: 64px;

  padding: 0px 60px;

  background-color: white;
  border: none;
  font-weight: 500;
}

.button_theme_white:active {
  background-color: #dbdbdb;
}

.button_theme_white:hover {
  background-color: #e8e8e8;
}
