@import url('./_theme/header_theme_black.css');
@import url('./_theme/header_theme_white.css');
@import url('./__logo/header__logo.css');

.header {
  box-sizing: border-box;
  min-height: 81px;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px 103px 0px;

  border-bottom: rgba(196, 196, 196, 0.01) 1px solid;
}

@media screen and (max-width: 1024px) {
  .header {
    min-height: 67px;
    padding: 4px 40px 0px;
  }
}
