@import url('./__logo/header__logo.css');

.header {
  box-sizing: border-box;
  min-height: 81px;

  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px 103px 0px;

  border-bottom: rgba(196, 196, 196, 0.01) 1px solid;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
